pipeline/PL_IF CONDITION.json
{
	"name": "PL_IF CONDITION",
	"properties": {
		"description": "PIPELINE TO CHECK THE EMPTY FILE BASED ON COLUMN COUNT(HERE WE WILL USE GET METADATA,IF CONDITION)",
		"activities": [
			{
				"name": "Get Metadata based on colums",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText3",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata based on colums",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get Metadata based on colums').output.columnCount,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "variable2",
								"value": {
									"value": "string(empty)",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Variable1",
								"value": {
									"value": "@string(activity('Get Metadata based on colums').output.columnCount)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Variable1": {
				"type": "String"
			},
			"variable2": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-08T08:43:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}