pipeline/PL_SQL_BLOB_USING SP.json
{
	"name": "PL_SQL_BLOB_USING SP",
	"properties": {
		"description": "Copy data from SQL database to blob and log the pipeline status in log table",
		"activities": [
			{
				"name": "CPY_SQL_BLOB",
				"description": "Copy data from SQL to BLOB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sink_sql_table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SQL_LOG_SP",
				"description": "Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CPY_SQL_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('CPY_SQL_BLOB').output.dataRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": {
								"value": "@activity('CPY_SQL_BLOB').output.errors[0].code",
								"type": "Expression"
							},
							"type": "String"
						},
						"errormessage": {
							"value": {
								"value": "@activity('CPY_SQL_BLOB').output.errors[0].message",
								"type": "Expression"
							},
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('CPY_SQL_BLOB').output.executionDetails[0].status\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-11-06T11:15:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}